@inherits Odachi.Mail.MailTemplate
@{
	Layout = new MailSample.Templates.Layout.BasicLayout();
}
<p>
	Hello world!

	<img src="@Embed("image/png", "MailSample.Resources.Lenna.png")" alt="Lenna" />
</p>