name: Publish

on:
  push:
    branches: [ "release/v*" ]
    tags: [ "v*" ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # required for nbgv
    - uses: dotnet/nbgv@master
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 10.0.x
        include-prerelease: false
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release -p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test --no-build --configuration Release -p:ContinuousIntegrationBuild=true --verbosity normal
    - name: Pack
      run: dotnet pack --no-build --configuration Release -p:ContinuousIntegrationBuild=true --output publish
    - name: Push
      run: dotnet nuget push ./publish/*.nupkg --api-key $NUGET_AUTH_TOKEN --source https://api.nuget.org/v3/index.json
      env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGET_AUTH_TOKEN}}
